@import 'https://fonts.googleapis.com/css?family=Roboto';
@font-face {
  font-family: samsungIcon;
  src: url(../fonts/samsungIcon.ttf); }

.home-layout1 #yt_top .container {
  width: 1200px !important;
  margin: auto !important;
  padding-top: 40px; }

.logo > img {
  width: 157px !important;
  height: 50px  !important; }

.module.lang {
  margin-left: 20px;
  float: right;
  margin-bottom: 0; }
  .module.lang ul {
    margin: 0;
    padding: 0; }
    .module.lang ul li {
      list-style: none;
      float: left;
      margin-right: 3px; }
      .module.lang ul li a {
        display: block;
        width: 35px;
        height: 29px;
        text-align: center;
        color: #6e6e6e;
        line-height: 2; }
        .module.lang ul li a:hover {
          background-color: #6e6e6e;
          color: #FFF; }
    .module.lang ul .lang-active a {
      background-color: #6e6e6e;
      color: #FFF; }

.module.top-contacts {
  float: right;
  margin-bottom: 0;
  padding-top: 3px; }
  .module.top-contacts img {
    margin-right: 10px;
    margin-left: 20px;
    margin-top: -4px; }

.home-layout1 #yt_top1 {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: #ededee;
  overflow: hidden;
  padding-top: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .home-layout1 #yt_top1 .container {
    width: 1200px !important;
    margin: auto !important; }

.top-contacts .callback {
  width: 150px;
  height: 29px;
  background-color: #75528b;
  display: block;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 2.2;
  float: right;
  text-align: center;
  margin-left: 20px;
  margin-top: -3px;
  cursor: pointer; }

#meganavigator li.level1 > .item-link {
  font-weight: bold;
  padding: 40px 14px !important; }

#top1 {
  float: right; }
  #top1 .module {
    width: 274px !important;
    float: right;
    margin-bottom: 0 !important;
    margin-top: 6px !important; }

#offlajn-ajax-search700 {
  width: 100%; }

#offlajn-ajax-search700 .offlajn-ajax-search-container {
  background: none;
  padding: 0; }
  #offlajn-ajax-search700 .offlajn-ajax-search-container input {
    width: 274px !important;
    height: 40px !important;
    opacity: 0.4 !important;
    background-color: white !important;
    border: 0.25px solid #6e6e6e !important;
    padding: 0 10px !important;
    -webkit-border-radius: 0 !important;
            border-radius: 0 !important; }
  #offlajn-ajax-search700 .offlajn-ajax-search-container input#suggestion-area700 {
    display: none !important; }

#ajax-search-button700 {
  background: none;
  border: none;
  top: 9px !important; }
  #ajax-search-button700:hover {
    background: none;
    border: none; }

#yt_mainmenu {
  margin-left: 65px; }

.slider-detail {
  left: -webkit-calc(50% - 600px) !important;
  left: calc(50% - 600px) !important;
  text-align: left !important;
  width: 500px !important;
  height: 400px   !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  padding: 94px 45px 84px 45px !important;
  font-family: Roboto !important; }
  .slider-detail h3 {
    font-size: 29px !important;
    font-family: Roboto !important;
    text-transform: none !important; }
  .slider-detail p {
    font-size: 21px !important;
    font-family: Roboto !important;
    text-transform: none !important;
    font-weight: normal !important; }

.detail-button.detail-button-active {
  font-family: Roboto !important;
  color: #FFF  !important;
  width: auto !important;
  height: 35px !important;
  border: 0.25px solid white !important;
  color: white !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 2.5 !important;
  text-align: center !important;
  background-color: transparent !important;
  padding: 0 17px !important;
  text-transform: none  !important; }

.sjmainslide .yt-content-slider .owl-stage-outer .owl-stage .owl-item .yt-content-slide::before {
  opacity: 0.2; }

.solutions .component {
  width: 1200px;
  margin: auto; }

.row-fluid.sj-joinpeople > aside {
  margin: auto;
  width: 1180px; }

.component.solutions .span3 {
  position: relative;
  width: 286px;
  cursor: pointer; }
  .component.solutions .span3:hover span {
    background-color: #292929; }
    .component.solutions .span3:hover span:after {
      color: #ccc; }
  .component.solutions .span3 span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: rgba(75, 56, 88, 0.85);
    display: block;
    color: #FFF;
    text-align: left;
    font-size: 17px;
    font-family: Roboto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12.5px;
    text-transform: uppercase; }
    .component.solutions .span3 span:after {
      content: "4";
      font-family: "samsungIcon";
      height: 24px;
      float: right;
      font-size: 20px;
      color: #FFF; }

.row-fluid [class*="span"] {
  margin-left: 10px; }

.row-fluid.sj-joinpeople {
  padding: 0;
  padding-bottom: 10px; }
  .row-fluid.sj-joinpeople:first-child {
    padding-top: 135px; }
  .row-fluid.sj-joinpeople:nth-child(2) {
    padding-bottom: 70px; }

#yt_spotlight1 {
  background-color: #F6F6F6; }

#spotlight1 .module {
  padding-top: 70px !important; }
  #spotlight1 .module .modcontent {
    color: #292929;
    font-size: 15px;
    font-family: Roboto; }
  #spotlight1 .module h3 {
    font-family: Roboto;
    font-size: 21px;
    text-transform: none; }

.mnwall-item-inner {
  background-color: rgba(41, 41, 41, 0.85) !important; }

.mnwall-big .mnwall-item-inner h3.mnwall-title a, .mnwall-big .mnwall-item-inner h3.mnwall-title span {
  font-size: 25px;
  font-family: Roboto;
  font-weight: bold;
  text-transform: none;
  line-height: 1.2; }

.mnwall-masonry .mnwall-item-outer-cont.content-bottom .mnwall-item-inner {
  min-height: 50%;
  height: auto; }

.light-text h3.mnwall-title a, .light-text h3.mnwall-title span {
  text-transform: none; }

.mnwall-desc {
  font-size: 15px !important;
  font-family: Roboto  !important;
  padding-bottom: 5px; }

.mnwall-title {
  padding-top: 0  !important; }

.mnwall-readmore a {
  padding-top: 4px;
  padding-bottom: 0;
  height: 35px;
  border: 0.25px solid white;
  font-size: 13px;
  font-family: Roboto;
  opacity: 1  !important; }

.mnwall-date {
  padding-top: 0  !important;
  font-size: 13px  !important;
  font-family: Roboto   !important;
  text-transform: none  !important; }

.uk-overlay-fade {
  opacity: 1; }

#yt_spotlight3 .container {
  padding-top: 70px; }

#spotlight6left .module {
  color: #292929;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300; }
  #spotlight6left .module h3.modtitle {
    color: #292929;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    text-transform: none; }

#spotlight6right {
  width: 50%; }
  #spotlight6right .module {
    color: #292929;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300; }
    #spotlight6right .module h3.modtitle {
      color: #292929;
      font-family: Roboto;
      font-size: 21px;
      font-weight: 700;
      text-transform: none; }
  #spotlight6right .acymailing_module div.acymailing_introtext {
    margin-bottom: 30px !important; }

#spotlight6left {
  width: 50%; }
  #spotlight6left .span6 {
    float: left;
    margin: 0;
    padding-left: 10px;
    line-height: 1.1;
    font-family: Roboto;
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25px; }
  #spotlight6left .span6.contact_button {
    margin-left: 0;
    display: block;
    height: 35px;
    background-color: #75528b;
    text-align: center;
    color: #FFF;
    padding-top: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0;
    float: left;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer; }
  #spotlight6left .phone_bottom {
    float: left;
    margin-right: 10px; }
  #spotlight6left .row-fluid {
    margin-top: 30px; }

.acymailing_form input[type=text] {
  width: 424px !important;
  height: 40px !important;
  opacity: 0.4 !important;
  background-color: white !important;
  border: 0.25px solid #6e6e6e !important; }

.acymailing_form input[type=submit] {
  width: 151px;
  height: 40px;
  background-color: #75528b;
  color: #FFF;
  font-family: Roboto;
  font-size: 15px;
  margin-left: 10px; }

#yt_spotlight12 h3.modtitle {
  font-size: 15px;
  font-family: Roboto;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 5px; }

.about_footer_info {
  font-size: 15px; }

#yt_spotlight12 {
  color: #ededee;
  font-family: Roboto;
  background-color: #292929;
  padding: 30px 0; }
  #yt_spotlight12 .row {
    padding: 0 190px 0 162px; }
    #yt_spotlight12 .row > div {
      color: #ededee;
      font-family: Roboto;
      font-weight: 400;
      font-size: 13px; }
      #yt_spotlight12 .row > div .menu li {
        padding-bottom: 0; }
  #yt_spotlight12 #bottom1 {
    width: 250px;
    padding: 0;
    margin-right: 92px; }
  #yt_spotlight12 #bottom2 {
    width: 120px;
    margin-right: 100px;
    padding: 0; }
  #yt_spotlight12 #bottom3 {
    width: 120px;
    padding: 0; }
  #yt_spotlight12 #bottom4 {
    float: right;
    padding: 0;
    width: 93px; }

#yt_footer {
  display: none; }

.home-layout1 #yt_spotlight3::before {
  background-color: rgba(246, 246, 246, 0.8); }

.zoom {
  position: fixed;
  z-index: 102;
  top: 10%;
  padding: 20px;
  text-align: center;
  background-color: #FFF;
  left: -webkit-calc(50% - 185px);
  left: calc(50% - 185px); }
  .zoom img {
    width: 350px;
    height: auto; }

.closer {
  display: block;
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background: url("../img/fancy_close.png") no-repeat 0 0;
  z-index: 1000; }

.overka {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 101;
  display: none;
  -webkit-transition: 1s;
  transition: 1s; }

/*input[type=submit]*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .home-layout1 #yt_top .container {
    width: 100% !important; }
  #yt_top1 .container {
    width: 100% !important; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 640px) {
  /**/ }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }
