.home-layout1 #yt_top
  .container 
    width: 1200px !important
    margin: auto !important

.logo
  > img 
    width: 157px !important
    height: 50px  !important

.module.lang 
  margin-bottom: 0
  ul
    margin: 0
    padding: 0
    li
      list-style: none
 















/*input[type=submit]*/


@import _media