.home-layout1 #yt_top
  .container 
    width: 1200px !important
    margin: auto !important

.logo
  > img 
    width: 157px !important
    height: 50px  !important


















/*input[type=submit]*/


@import _media